<div class="nav-bar hidden-xs">
    <div class="dropdown">
        <button type="button" onclick="/*window.location.replace('/pedimap/app/home')*/">Inicio</button>
    </div>
    <div class="dropdown">
        <button type="button">Avance <i class="fa fa-caret-down"></i></button>
        <!--<div class="dropdown-content">
            <a href="/pedimap/app/avance/volumen">Volumen</a>
            <a href="/pedimap/app/avance/cobertura">Cobertura</a>
            <a href="#">UME's</a>
            <a href="#">Visicooler</a>
        </div>-->
    </div>
    <div class="dropdown">
        <button type="button">Seguimiento <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="/pedimap/app/seguimiento/mapa">Mapa</a>
            <!--<a href="#">Pedidos</a>-->
            <a href="/pedimap/app/seguimiento/dispositivos">Dispositivos</a>
            <!--<a href="#">Altas</a>-->

        </div>
    </div>
    <div class="dropdown">
        <button type="button">Reporte <i class="fa fa-caret-down"></i></button>
        <!--<div class="dropdown-content">

            <a href="#">Efectividad</a>
            <a href="#">Rechazo</a>
        </div>-->
    </div>
</div>