<div id="nav-menu" class="nav-list">
    <div id="main-menu" class="menu-container collapse in">
        <nav>
            <ul class="menu-list">

                <li class="header-list">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#nav-menu">
                            <span class="right-arrow"></span>
                            <span class="left-arrow"></span>
                            <span>Menu</span>
                        </button>
                    </div>
                </li>
                <li class="menu-option">
                    <!--<a href="/pedimap/app/home">Inicio</a>-->
                    <a href="#">Inicio</a>
                </li>
                <li class="menu-option">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#avance-menu">
                            <span>Avance</span>
                            <span class="right-arrow"></span>
                        </button>
                    </div>
                </li>
                <li class="menu-option">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#seguimiento-menu">
                            <span>Seguimiento</span>
                            <span class="right-arrow"></span>
                        </button>
                    </div>
                </li>
                <li class="menu-option">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#reporte-menu">
                            <span>Reporte</span>
                            <span class="right-arrow"></span>
                        </button>
                    </div>
                </li>
                <!--<li class="menu-option"><a href="#">Transporte</a></li>-->
            </ul>
        </nav>
    </div>
    <!--
    <div id="preventa-menu" class="child-container collapse">
        <nav class="child-menu">
            <ul class="child-list">
                <li class="header-child">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="left-arrow"></span>
                            <span>Preventa</span>
                        </button>
                    </div>
                </li>
                <li class="child-option">
                    <div>
                        <button type="button" data-target="#ventas-menu">
                            <span>Avance</span>
                            <span class="right-arrow"></span>
                        </button>
                    </div>
                </li>
                <li class="child-option">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#preventa-seguimiento">
                            <span>Seguimiento</span>
                            <span class="right-arrow"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    -->

    <!--<div id="avance-menu" class="child-container collapse">
        <nav class="child-menu">
            <ul class="child-list">
                <li class="header-child">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="left-arrow"></span>
                            <span>Avance</span>
                        </button>
                    </div>
                </li>
                <li class="child-option">
                    <a href="/pedimap/app/avance/volumen">Volumen</a>
                </li>
                <li class="child-option">
                    <a href="#">Cobertura</a>
                </li>
                <li class="child-option">
                    <a href="#">UME's</a>
                </li>
                <li class="child-option">
                    <a href="#">Visicooler</a>
                </li>
            </ul>
        </nav>
    </div>-->
    <div id="seguimiento-menu" class="child-container collapse">
        <nav class="child-menu">
            <ul class="child-list">
                <li class="header-child">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="left-arrow"></span>
                            <span>Seguimiento</span>
                        </button>
                    </div>
                </li>
                <li class="child-option">
                    <a href="/pedimap/app/seguimiento/mapa">Mapa</a>
                </li>
                <!--<li class="child-option">
                    <a href="#">Pedidos</a>
                </li>-->
                <li class="child-option">
                    <a href="/pedimap/app/seguimiento/dispositivos">Dispositivos</a>
                </li>
                <!--<li class="child-option">
                    <a href="#">Altas</a>
                </li>-->
            </ul>
        </nav>
    </div>
    <!--<div id="reporte-menu" class="child-container collapse">
        <nav class="child-menu">
            <ul class="child-list">
                <li class="header-child">
                    <div>
                        <button type="button" data-toggle="collapse" data-target="#main-menu">
                            <span class="left-arrow"></span>
                            <span>Reporte</span>
                        </button>
                    </div>
                </li>
                <li class="child-option">
                    <a href="#">Efectividad</a>
                </li>
                <li class="child-option">
                    <a href="#">Rechazo</a>
                </li>
            </ul>
        </nav>
    </div>-->
</div>